.profile-pic{
    width: 100px;
    border-radius: 50%;
}

.water-mark {
    position: absolute;
    top: 2px;
    right: 50px;
    color: white;
    font-size: large;
    font-weight: bold;
  }

#help-text{
    color: tomato;
    font-style: italic;
}